{% extends 'LamMdlBundle::layout.html.twig' %}

{% block body %}
{% if message %}
<p>{{ message }}</p>
{% endif %}
<h1> Ajout d'un nouveau participant</h1>

<form action="{{ path('LamMdlBundle_inscription') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form)}}
        <p> <button type ="submit">Ajout</button> </p>
</form>

{% endblock %}